body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar utama */
nav {
  background: rgb(64, 64, 129);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu {
  display: none;
  flex-direction: column;
  background:rgb(52, 84, 143);
  padding: 10px;
}

.menu a:hover {
  background: #5a6b83;
}

.menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 0;
}

.hamburger {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
}

.hamburger span {
  background: white;
  display: block;
  height: 3px;
  margin: 5px 0;
  transition: 0.4s;
}

/* jika aktif */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media(min-width:  600px) {
  .menu {
    display: flex !important;
    flex-direction: row;
    background: none;
  }
  .menu a {
    margin: 20px;
  }
  .hamburger {
    display: none;
  }
}

.home {
  padding: 20px;
  background-color: #34699A;
  text-align: center;
  height: 700px;
}

.layanan-btn {
  text-decoration: none; 
  color: hsl(0, 0%, 0%); 
  background-color: #064a83; 
  padding: 10px 50px; 
  border-radius: 30px;
  border: 3px solid hsl(0, 0%, 0%);
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}

.home a:hover {
  background-color: hsl(0, 0%, 0%);
  color: #064a83;
}

/* Tombol hamburger */
.hamburger {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

/* Menu link */
.nav-links {
  display: flex;
  align-items: center;
  padding: 14px 20px;
}

.nav-links a {
  color: rgb(2, 2, 2);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  
}

.nav-links a:hover {
  background-color: #415b7c;
}

.layanan-item {
  background-color: rgb(8, 58, 151);
  color: white;;
  border-radius: 20px;
  display: inline-block;
  width: 140px;
  animation: floating 3s ease-in-out infinite;
  filter: drop-shadow(2px 4px 6px rgb(255, 255, 255));
}

.layanan-item img {
  width: 30%;
  height: auto;
}

.layanan-item a  {
  text-decoration: none;
  color: white;
  display: block;
  border-radius: 20px;
  text-align: center;
  padding: 30px 0;
}

.layanan-item a:hover {
  background-color: #34699A;
}

/* Responsif untuk HP */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #113F67;
  }

  .nav-links a, .dropdown .dropbtn {
    text-align: left;
    padding: 14px;
    width: 50%;
  }

  .nav-links.active {
    display: flex;
  }

  /* Dropdown di mode mobile */
  .dropdown-content {
    position: relative;
    box-shadow: none;
  }
}

@keyframes floating {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.faq-section {
        max-width: 600px;
        margin: 0 auto;
    }

    .faq-title {
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        background: linear-gradient(90deg, #00ffff, #0deb7c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10px;
    }

    .faq-description {
        text-align: center;
        color: #3a3a3a;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .faq {
        background-color: #111827;
        border-radius: 10px;
        margin-bottom: 20px;
        overflow: hidden;
        transition: 0.3s;
    }

    .faq.active {
        background-color: #1f2937;
    }

    .faq-question {
        padding: 15px 20px;
        font-weight: 600;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #e5e7eb;
        font-size: 16px;
    }

    .faq-question:hover {
        background-color: #1a2230;
    }

    .faq-answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding: 0 20px;
        color: #cbd5e1;
        font-size: 14px;
    }

    .faq.active .faq-answer {
        max-height: 200px;
        padding: 15px 20px 20px;
    }

    .icon {
        font-size: 22px;
        transition: transform 0.3s ease;
    }

    .faq.active .icon {
        transform: rotate(180deg);
        color: #00ffff;
    }

